<header>
	<h1>Matthew Freeman (freema22)<br>Lab 0 server</h1>
</header>
<body>
	<div class="content-tile left">
		<div class = "content-header">
			<span class="content-label">My AMI ID is:</span> 
			<p>ami-e3baa282</p>
		</div>
	</div>
	<div class="content-tile right">
		<div class="content-header">
			<span class="content-label">User Script:</span>
			<p>
				<pre>#!/bin/bash<br>yum update -y
				</pre>
			</p>
		</div>
	</div>
</body>
<footer>
	<%= image_tag("fancy_pig.gif")%>
	<%= image_tag("fancy_pig_approved.png", :class=> 'footer-logo')%>
</footer>